<configuration>
    <!--
        Logback effective level cannot be derived from slashes, only from periods.
        (See: http://logback.qos.ch/manual/architecture.html#effectiveLevel)
        Since Spray uses slashes to indicate level we need a custom filter to remove noise
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %thread %-5level %logger{36} - "%msg"%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>